rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /groups/{document=**} {
    	allow get, update: if true;
      allow create, delete: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}